.singlePost {
  flex: 9;
  margin-left: 10px;
  padding-right: 20px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.site-section {
  padding: 2.5em 0;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .site-section {
    padding: 2.0em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}
.section-heading{
  font-family: 'Times New Roman', Times, serif;
}
.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}

.intro-section,
.intro-section .container .row {
  height: 100vh;
  min-height: 900px;
}

.bg-image>.container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

.section-title-underline {
  color: #000;
}

.section-title-underline span {
  display: inline-block;
  border-bottom: 4px solid #2746C0;
}

.section-title-underline.style-2 {
  color: #fff;
}

.section-title-underline.style-2 span {
  border-color: #51be78;
}

.text-black {
  color: #000 !important;
}

.ul-check {
  margin-bottom: 50px;
}

.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}

.ul-check.white li:before {
  color: #fff;
}

.ul-check.success li:before {
  color: #8bc34a;
}

.ul-check.primary li:before {
  color: #51be78;
}
.custom-p{
  color: gray;
  margin-bottom: 1rem;
  line-height: 1.7;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
}
.cover-fit-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.cover-fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}