/* Custom arrows */
.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s ease;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}

/* Arrow animations */
.custom-prev-arrow i {
  transform: translateX(-3px);
}

.custom-next-arrow i {
  transform: translateX(3px);
}

/* Adjust the opacity based on the current slide */
.custom-prev-arrow.inactive,
.custom-next-arrow.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-prev-arrow:hover,
.custom-next-arrow:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
.slick-slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

/* Thêm khoảng cách giữa các item trong slider */
.our-courses .item {
  padding: 10 10px; 
  
}
  /* Thêm khoảng cách 10px bên trái và bên phải của mỗi item */


/* Move Slider dots to the bottom */
.slick-dots {
  position: absolute;
  bottom: -80px;
  list-style: none;
  text-align: center;
  padding: 0;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 14px;
  color: black;
  border: #1e1e1e;
  background: transparent;
  outline: none;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động */
  font-family: unset;
}

.slick-dots li.slick-active button {
  background: rgb(250, 250, 250);
  font-family: unset;
}
.slick-dots li button:before {
  font-family: unset; /* hoặc font-family: unset; */
}

/* Course item */
section.our-courses h2 {
  margin-top: -100px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 50px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(4, 4, 4);
  letter-spacing: 1px;
}
section.our-courses {
  background-color: #fbf7ef;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 130px;
}
.our-courses .item .down-content {
  background-color: #fff;
}

.our-courses .item .down-content h4 {
  padding: 25px;
  font-size: 18px;
  color: #1f272b;
  text-align: center; 
  border-bottom: 1px solid #eee;
}

.our-courses .item .down-content .info {
  padding: 25px;
}

.our-courses .item .down-content .info ul li {
  display: inline-block;
  margin-right: 1px;
}

.our-courses .item .down-content .info ul li i {
  color: #f5a425;
  font-size: 14px;
}

.our-courses .item .down-content .info span {
  color: #a12c2f;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  width: 100%;
}

.our-courses .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-45px);
}
    
.our-courses .owl-nav .owl-prev {
  margin-right: 10px;
  outline: none;
  position: absolute;
  left: -80px;
  opacity: 1;
  transition: all .5s;
}

.our-courses .owl-nav .owl-prev span,
.our-courses .owl-nav .owl-next span {
  opacity: 0;
}

.our-courses .owl-nav .owl-prev:before,
.our-courses .owl-nav .owl-next:before {
  display: inline-block;
  color: #1e1e1e;
  font-size: 25px;
  font-weight: 700;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
}

.our-courses .owl-nav .owl-prev:hover,
.our-courses .owl-nav .owl-next:hover {
  opacity: 0.9;
}

.our-courses .owl-nav .owl-prev {
  opacity: 1;
  transition: all .5s;
}

.our-courses .owl-nav .owl-next {
  opacity: 1;
  transition: all .5s;
}

.our-courses .owl-nav .owl-next {
  margin-left: 10px;
  outline: none;
  position: absolute;
  right: -85px;
}

/* Trong file CSS của bạn */
.custom-link {
  color:#1f272b; /* Màu chữ */
  text-decoration: none; /* Loại bỏ gạch chân mặc định */
  font-weight: bold; /* Độ đậm chữ */
  font-size: 21px; /* Kích thước chữ */
  /* Và các kiểu dáng khác mà bạn muốn thêm */
    text-align: center;
}

.custom-link:hover {
  text-decoration: blink; /* Gạch chân khi hover */
}
.our-courses .item {
  padding: 10px; /* Để padding ở cả hai bên của mỗi item là 10px */
  margin: 0 5px; /* Thêm margin ở cả hai bên của mỗi item là 5px */
  margin-right: 1px;
}

/* Khi hover lên item, làm ảnh nổi lên */
/* Course item */
.our-courses .item {
  padding: 10px; /* Để padding ở cả hai bên của mỗi item là 10px */
  margin: 0 5px; /* Thêm margin ở cả hai bên của mỗi item là 5px */
  margin-right: -2px;
  position: relative; /* Để định vị cho đổ bóng */
  overflow: hidden; /* Ảnh sẽ bị ẩn nếu vượt ra khỏi phần item */
}

/* Ảnh trong item */
.our-courses .item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; /* Hiệu ứng chuyển động cho ảnh */
  position: relative;
  margin-top: -2%;
}

/* Thêm đổ bóng cho item */
.our-courses .item::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 20px); /* Chiều rộng của item - 2 lần padding */
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Màu đổ bóng và độ trong suốt */
  border-radius: 5px; /* Độ cong của đổ bóng */
  left: 10px; /* Đưa đổ bóng về giữa item */
  top: 0;
  transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

/* Hiển thị đổ bóng khi hover */
/* Thêm hiệu ứng khi hover để làm to ảnh */
.our-courses .item img {
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.our-courses .item:hover img {
  transform: scale(1.02); /* Điều chỉnh giá trị để thay đổi độ to của ảnh */
}

/* Hiệu ứng chuyển động cho h4 */
.our-courses .item .down-content h4 {
  position: relative; /* Tạo một định vị tương đối cho phần tử con */
  padding: 25px;
  font-size: 18px;
  color: #1f272b;
  text-align: center;
  overflow: hidden; /* Ẩn phần giả chân gạch bên dưới */
}

/* Phần giả chân gạch */
.our-courses .item .down-content h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Chiều cao của giả chân gạch */
  background-color: #1f272b; /* Màu của giả chân gạch */
  transform: scaleX(0); /* Đặt độ co lại ban đầu */
  transform-origin: 0 50%; /* Đặt điểm trục transform */
  transition: transform 0.3s ease; /* Hiệu ứng chuyển động */
}

/* Hiển thị giả chân gạch từ từ khi hover vào h4 hoặc img */
.our-courses .item:hover .down-content h4::before,
.our-courses .item:hover img::before {
  transform: scaleX(1); /* Mở rộng giả chân gạch khi hover */
}


