body.active-modals {
    overflow-y: hidden;
}

.pagination {
    display: inline-block;
  }
  .text a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .text a:hover {
    color: orange;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

.modals-schedule{
    width: 120vw;
    height: 120vh;
    z-index: 99;
    top:   10;
    left:   0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modals, .overlay {
    width: 120vw;
    height: 120vh;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modals-content {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: lightgray;
    padding: 14px 28px;
    border-radius: 3px;
    width: 1200px;
    height: 600px;
    z-index: 99;
    max-width: 1800px;
    max-height: 1200px;
    min-width: 300px;
    overflow: auto;
}
.modals-blog-content {
    position: absolute;
    top: 45%;
    left: 44%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 1400px;
    height: 1000px;
    max-width: 1800px;
    max-height: 1600px;
    min-width: 300px;
    overflow: auto;
}
.close-modals {
    position: absolute;
    top: -25px;
    right: 0px;
    padding: 5px 7px;
}
.modals-title{
    position: absolute;
    top: 0px;
    background-color: black;
    left: 0px;
    width: 100%;
    height: 12%;
}