.body{
    background-image: url("../Assets/Login/login-background3.jpg");
    height: 100%;
    position: fixed;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.login-container{
  margin: auto;
  margin-top: 20px;
  max-width: 800px; /* Adjust the maximum width of the container */
  display: flex;
  justify-content: space-around;
  align-items: center;
    
}
.login-switch{
  margin: auto;
  width: 800px; /* Adjust the width of the switch */
  padding-bottom: 15px; /* Adjust the padding */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-switch-role{
    border: 1px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
    background-color: #ffffffcc;
    width: 600px;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.login-form-teacher,.login-form-student{
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    background-color: #ffffffcc;
}
.login-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px; /* Adjust the gap */
  width: 100%;
  margin-top: 15px; /* Adjust the margin-top */
}
.login-text{
  color: #2746C0;
  font-size: 33px; /* Adjust the font-size */
  font-weight: 600; /* Adjust the font-weight */
}
.login-underline{
  width: 41px; /* Adjust the width */
  height: 4px; /* Adjust the height */
  background-color: #2746C0;
  border-radius: 6px; /* Adjust the border-radius */
}
.login-inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.login-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 65px;
    background:#eaeaea;
    border-radius: 6px;
}
.login-input input{
    height: 50px;
    width: 400px;
    background:transparent;
    border: none;
    outline: none;
    color: #2746C0;
    font-size: 15px;
}
.login-submit-container {
  display: flex;
  
  margin-top: -30px;
  margin-bottom: 10px;
  justify-content: space-around;
}
.login-input img{
  margin: 0px 30px;
}
.login-submit{
         display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 50px;
        color: #fff;
        background: #2746C0;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
}
.dropdown {
    
    position: relative;
    display:block;
    margin-top:0.5em;
    padding:0;
  }
  .dropdown select {
    width:100%;
    margin:0;
    background:none;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    font-size:1.25em;
    color: #444;
    padding: .6em 1.9em .5em .8em;
    line-height:1.3;
  }
  
  .dropdown::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 8px;
    top: 50%;
    right: 1em;
    margin-top:-4px;
    z-index: 2;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;  
    pointer-events:none;
  }
  .role-title{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    color: gray;
  }
  .role-selected{
    color: #2746C0;
    border-bottom: 6px solid #2746C0;
  }
  

.captchaField { 
  border: 1px solid #ccc; 
  padding: 15px; 
  max-width: 345px;
  background-color: #fff;
  border-radius: 5px;
}



.CaptchaWrap { position: relative; }
.CaptchaTxtField { 
  border-radius: 5px; 
  border: 1px solid #2746C0; 
  display: block;  
  box-sizing: border-box;
}

#UserCaptchaCode { 
  padding: 15px 10px; 
  outline: none; 
  font-size: 18px; 
  font-weight: normal; 
  width: 343px;
}
#CaptchaImageCode { 
  text-align:center;
  margin-top: 15px;
  padding: 0px 0;
  width: 300px;
  overflow: hidden;
}

.capcode { 
  font-size: 36px; 
  display: block; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
  cursor: default;
  letter-spacing: 1px;
  color: #2746C0;
  font-weight: 100;
  font-style: italic;
}

.ReloadBtn { 
  background:url('https://cdn3.iconfinder.com/data/icons/basic-interface/100/update-64.png') left top no-repeat;   
  background-size : 100%;
  width: 32px; 
  height: 32px;
  border: 0px; outline:'none';
  position: absolute; 
  bottom: 30px;
  left : 310px;
  outline: none;
  cursor: pointer; /**/
}
.btnSubmit {
  margin-top: 15px;
  border: 0px;
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 18px;
  background-color: #2746C0;
  color: #fff;
  cursor: pointer;
}

.error { 
  color: red; 
  font-size: 12px; 
  display: none; 
}
.success {
  color: green;
  font-size: 18px;
  margin-bottom: 15px;
  display: none;
}

.captchaField { 
  border: 1px solid #ccc; 
  padding: 15px; 
  max-width: 345px;
  background-color: #fff;
  border-radius: 5px;
}



.CaptchaWrap { position: relative; }
.CaptchaTxtField { 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  display: block;  
  box-sizing: border-box;
}

#UserCaptchaCode { 
  padding: 15px 10px; 
  outline: none; 
  font-size: 18px; 
  font-weight: normal; 
  width: 343px;
}
#CaptchaImageCode { 
  text-align:center;
  margin-top: 15px;
  padding: 0px 0;
  width: 300px;
  overflow: hidden;
}

.capcode { 
  font-size: 36px; 
  display: block; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
  cursor: default;
  letter-spacing: 1px;
  color: #ccc;
  font-weight: 100;
  font-style: italic;
}

.ReloadBtn { 
  background:url('https://cdn3.iconfinder.com/data/icons/basic-interface/100/update-64.png') left top no-repeat;   
  background-size : 100%;
  width: 32px; 
  height: 32px;
  border: 0px; outline: 'none';
  position: absolute; 
  bottom: 30px;
  left : 310px;
  outline: none;
  cursor: pointer; /**/
}
.btnSubmit {
  margin-top: 15px;
  border: 0px;
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 18px;
  background-color: #2746C0;
  color: #fff;
  cursor: pointer;
}

.error { 
  color: red; 
  font-size: 12px; 
  display: none; 
}
.success {
  color: green;
  font-size: 18px;
  margin-bottom: 15px;
  display: none;
}
.h3-capcha{
  color: var(--eerie-black-1);
  line-height: 1;
  user-select: none;
  color: #2746C0;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 22px;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}
.validate-capcha{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8vh;
}
/* Forget Password */
.forget-password{
  display: flex;
  justify-content: center;
  color: #2746C0;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.forget-password:hover{
  color: #5272e4;
}
.forget-title{
  display: flex;
 margin-top: 20px;
  margin-bottom: -30px;
  gap: 6px; /* Adjust the gap */
  width: 100%;
}
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column; 
  }

  .login-switch {
    width: 100%; 
  }

  .login-form-teacher {
    width: 100%; 
  }
}