.col-xl-5, .col-xl-10 {
    margin-bottom: 20px;
  }
  
  
  .m-widget19__img {
    width: 80px; 
    height: 80px;
    margin: 0 auto;
    display: block;
  }
  
  
  #list_data_parent .m-widget19__img {
    width: 80px; 
    height: 80px;
    margin: 0 auto;
    display: block;
  }
  
  
  .table th,
  .table td {
    text-align: center;
  }
  
  
  .table th {
    width: 25%; 
  }
  
  
  .m-portlet__head-title h3 {
    margin: 0;
  }
  
  
  .m-list-timeline__item {
    margin-bottom: 15px;
  }

  .col-xl-5, .col-xl-10 {
    margin-bottom: 20px;
    margin-left: 25px;
    padding: 10px; 
    background-color: #f2f2f2; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin-right: 20px; 
  }
  
  
  .col-xl-5, .col-xl-10 > * {
    margin-bottom: 10px;
  }
  
 
  .col-xl-5:last-child {
    margin-right: 0;
  }
  .col-xl-10:last-child {
    margin-right: 0;
  }
  .option-item {
    position: relative;
    z-index: 1; /* Đặt giá trị z-index nếu cần thiết */
  }
  
  .options-list {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999999;
  }
  
  .options-list li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .options-list li:hover {
    background-color: #f0f0f0;
  }