@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  Arial;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.btn-danger{
  margin: 0;
  padding: 10px 20px;
}
body {
  background-color: #fff;
 
}
.app-client {
  font-size: 100%;
  font-size: 16px;
}
/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
}
textarea{
  height: 200px;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.row {
  width: 50%;
}
.primary-btn {
  background-color: #1eb2a6;
  color: #fff;
}

/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
}
#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}
p {
  line-height: 30px;
  font-size: 18px;
}
table thead tr th {
  color: #fff;
}
.btn-success{
  margin: 0;
  padding: 10px 20px;
  background-color: #2746C0;
  --bs-btn-active-bg: #2746C0
}


#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.label-select{
  color: #2746C0;
  width: 20%;
  margin-top: 0.5rem;
  font-weight: bolder;
  text-align: center;
  
}


.MuiTablePagination-selectLabel {
  margin-bottom: 3px; /* Điều chỉnh giảm khoảng cách dưới của "Rows per page" */
  color: white;
}
.MuiTablePagination-displayedRows {
  margin-top: 8px; /* Điều chỉnh giảm khoảng cách trên của "1–7 of 28" */
  margin-bottom: 8px; /* Điều chỉnh giảm khoảng cách dưới của "1–7 of 28" */
  color: white;
}
.MuiDataGrid-columnHeaderTitle {
  color: white;
}
.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input{
  color: white;
}
.css-1hgjne-MuiButtonBase-root-MuiIconButton-root.Mui-disabled{
  color: white;
}
.css-y0u0hj{
  margin-bottom: -4%;
}
/* h3{
  margin-bottom: -10%;
} */
.css-1n70htv-MuiDataGrid-root .MuiDataGrid-iconSeparator{
  display: none;
}

.footer-admin {
  margin-top: auto;
}
.filter-search{
  margin-right: 13px;
}
.btn-success{
  background-color: #2746C0;
}
.btn-success:hover{
  background-color: #2746C0;
}

.MuiDataGrid-columnHeaderDraggableContainer .MuiDataGrid-columnHeaderTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDataGrid-columnHeaderCheckbox {
  border-right: 0.5px solid #E0E0E0 !important;
}
.MuiDataGrid-columnHeader {
  border-right: 0.5px solid #E0E0E0 !important;
}


.MuiDataGrid-cell--withRenderer svg:nth-last-child(1) {
  margin-left:44%;
}
.MuiDataGrid-cell--withRenderer a:nth-last-child(1) {
  margin-left: 30%;
}
.backtolist{
  text-decoration: underline;
}
main{
  flex-grow: 1;
  margin-bottom: 2%;
}

.invoice-header{
  padding: 16px 15px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 0 15px 1px rgba(69, 65, 78, .2);
}
.m--font-info{
  color: #2746C0;
}
.m--font-primary{
  color:#36a3f7 ;
}
.required-field{
  color: red;
  display: inline-block;
}
.cus-title{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.cus-des{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 7;
}
