/* intro.css */
.aos-init {
  transition-property: transform, opacity;
}

.aos-animate {
  opacity: 1;
  transform: translate(0);
}

.about {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Tránh viết CSS trực tiếp trong file component, thay vào đó sử dụng external CSS file hoặc CSS-in-JS */

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-right: 50px;
}

.section-subtitle {
  color: #3498db;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-title1 {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-text {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Thêm kiểu cho danh sách (nếu cần) */
.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about-item ion-icon {
  margin-right: 10px;
  color: #27ae60;
}

/* CSS Module (serviceItem.module.css) */
.service-item {
  background: var(--light);
  transition: .5s;
  height: 345px;
}



.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/* Note: Make sure to define --primary and --light variables in your global CSS or CSS-in-JS setup. */
:root {
  --primary: #2746C0;
  --light: #F0FBFC;
  --dark: #181d38;
}


.title-show h1 {
  color: black;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(4, 4, 4);
  font-family: 'Times New Roman', Times, serif;
}

/* intro.css */

.text-primary {
  color: #0960a0 !important;
}

h5.mb-3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
}

.section-title1 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title1::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 15px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title1::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title1.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title1.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

.service-icon {
  margin-bottom: 40px; 
  color: #007bff; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; /* Ảnh sẽ được điều chỉnh kích thước để lấp đầy hoàn toàn vào khung */
  border-radius: 50%; 
}

.rounded-image-container {
  overflow: hidden;
  border-radius: 50%; 
  width: 90px;
  height: 90px;
  margin: 0 auto; 
  margin-bottom: 20px;
}
.short-des{
  text-align: justify;
}
.short-title{
  text-align: left;
}
