.blog .text1 {
  padding: 40px 30px;
}

.blog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
}
.pagination a {
  cursor: pointer;
  margin: 0 5px; /* Add margin between pagination links */
}
.info-blog {
  display: flex;
  text-align: center;
}

.blog-status {
  margin-top: -5px;
}

.blog h1:hover {
  color: #1eb2a6;
  cursor: pointer;
}

.blog span label {
  margin-left: 10px;
  font-size: 14px;
  opacity: 0.7;
  color: grey;
}
.info-blog i{
  color: grey;

}
.blog span:last-child label {
  color: grey;
}
/* Đảm bảo là bạn đã kết nối thư viện Font Awesome để sử dụng biểu tượng */
/* Ví dụ: <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" /> */

/* Hiệu ứng chuyển động cho .blog h1 */
.blog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: color 0.5s ease, transform 0.5s ease;
}

.blog h1:hover {
  color: #1eb2a6;
  cursor: pointer;
  transform: scale(1.1); /* Phóng to chữ khi di chuột qua */
}

/* Hiệu ứng chuyển động cho .info-blog */
.info-blog {
  display: flex;
  text-align: center;
  transition: transform 0.5s ease;
}

.info-blog:hover {
  transform: scale(1.1); /* Phóng to khi di chuột qua */
}

/* Hiệu ứng chuyển động cho biểu tượng */
.blog span i {
  transition: transform 0.5s ease;
}

.blog span:hover i {
  transform: rotate(360deg); /* Xoay 360 độ khi di chuột qua */
}

/* Hiệu ứng chuyển động cho hình ảnh */
.blog img {
  width: 100%;
  height: 300px;
  max-height: 300px;
  transition: transform 0.5s ease;
  object-fit: cover;
}

.blog img:hover {
  transform: scale(1.05); /* Phóng to hình khi di chuột qua */
}

/* Hiệu ứng chuyển động cho .blog .text */
.blog .text1 {
  padding: 40px 30px;
  transition: background-color 0.5s ease;
}

.blog .text1:hover {
  background-color: #f0f0f0; /* Thay đổi màu nền khi di chuột qua */
}
.text1 {
  margin-bottom: 20px; /* Khoảng cách từ phía dưới */
}
.admin {
  margin-bottom: 10px; /* Khoảng cách từ phía dưới */
}
.info-blog {
  margin-right: 30px; /* Khoảng cách từ phía phải */
}
/* Áp dụng margin-bottom cho phần tử Link */

/* Hoặc áp dụng margin-top cho phần tử p */
.text1 p {
  margin-top: 6px; /* Khoảng cách từ phía trên của phần tử p */
  line-height: 1.8;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 1.25rem 0;
}
.admin.flexSB .info-blog {
  margin-right: 50px; 
}
.custom-a a {
  color: #051922;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 600;
  margin: 0 0 1.25rem 0;
  letter-spacing: 0.1px;
  margin-bottom: 1px;
  margin-top: 3px;
}
.custom-a a:hover{
    color:#0960a0;
    text-decoration: none;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 items per row */
  gap: 20px; /* Adjust the gap between items as needed */
}

.blog-item {
  border: 1px solid #ddd; /* Optional: Add borders or styling for each item */
  padding: 10px; /* Optional: Add padding for each item */
}
.items{
  height: 558.3px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-gap: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination span {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination span:hover {
  background-color: #ddd;
}

.pagination span.active {
  background-color: #2467C0;
  color: white;
}
/* Responsive cho màn hình lớn hơn hoặc bằng 1200px */
@media screen and (min-width: 1200px) {
  .grid2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Responsive cho màn hình từ 769px đến 1199px */
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive cho màn hình nhỏ hơn hoặc bằng 768px */
@media screen and (max-width: 768px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
}

/* Responsive cho .text1 padding */
@media screen and (max-width: 768px) {
  .blog .text1 {
    padding: 20px;
  }
}

/* Responsive cho .admin và .custom-a */
@media screen and (max-width: 768px) {
  .admin.flexSB .info-blog {
    margin-right: 20px;
  }

  .custom-a a {
    font-size: 18px;
  }
}

/* Responsive cho .pagination */
@media screen and (max-width: 768px) {
  .pagination {
    flex-direction: column;
  }

  .pagination span {
    margin: 5px 0;
  }
}

/* Responsive cho .items height */
@media screen and (max-width: 768px) {
  .items {
    height: auto;
  }
}
