
.section-title-3{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
}

.team-item .bg-light{
    width: 300px;
    height: 420px;
    max-height: 100%;
}
.section-title-3::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: #06BBCC;;
    z-index: -1;
}

.section-title-3::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: #06BBCC;;
    z-index: -1;
}

h1.mb-5{
    font-weight: 700;
    line-height: 1.2;
    color: #181d38;
}
.mb-5{
    margin-bottom: 3rem !important;
}

.team-item img {
    transition: .5s;
   height: 300px;
   width: 300px;
}

.team-item:hover img {
    transform: scale(1.1);
}
.img-fluid {
    vertical-align: middle;
}
