body {
	line-height: 1.5;
  }
  .footer {
	background-color: #24262b;
	padding: 70px 0;
  }
/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0FBFC;
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #06BBCC;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.fa-angle{
    position: relative;
    font-weight: 900;
	font-size: 15px;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.icon {
    width: 16px; /* Điều chỉnh kích thước của biểu tượng */
    height: 16px; /* Điều chỉnh kích thước của biểu tượng */
    margin-right: 8px; /* Khoảng cách giữa biểu tượng và văn bản */
    color: #007bff; /* Màu sắc của biểu tượng */
}
.service-icon {
    width: 48px; /* Điều chỉnh kích thước của biểu tượng */
    height: 48px; /* Điều chỉnh kích thước của biểu tượng */
    margin-bottom: 40px; /* Khoảng cách giữa biểu tượng và văn bản */
    color: #007bff; /* Màu sắc của biểu tượng (nếu cần) */
    width: 100%; /* Đảm bảo ảnh lấp đầy khung tròn */
    height: auto;
}
.custom-h4{
	font-size: calc(1.275rem + .3vw);
	text-transform: uppercase;
	margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
}
