.banner1-container {
  min-height: 60vh;
  width: 100%;
  background-size: cover;
}
.notired{
  position: relative;
  display: inline-block;
}
.notired::before {
  content: '';
  position: absolute;
  top: 34%;
  left: 50%;
  width: 8px; /* Adjust the size of the dot */
  height: 8px; /* Adjust the size of the dot */
  background-color: red;
  border-radius: 50%;
}
.centerName {
  color: black;
  text-align: center;
  background: transparent;
  width: 220px;
  height: 10px;
 
  display: flex;
  align-items: center;
  padding: 0 15px;
    margin: 30px 0 0 -120px;
}

.img-attend {
  max-width: 100%;
  height: 20px; 
  display: block;
  background-color: transparent;
  border: none;
  margin: 0 auto;
 
}

/* Nếu muốn chiều rộng của centerName lớn hơn một chút */
.centerName img {
  width: 150px; /* Điều chỉnh giá trị width theo nhu cầu của bạn */
  height: 25px; /* Điều chỉnh giá trị height theo nhu cầu của bạn */
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và nội dung trong centerName */
  border-radius: 0;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.topImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  margin-top: -15px;
  margin-bottom: -8px;
}

a {
  text-decoration: none;
}

a.button {
  padding: 0.5rem 1rem;
  background: #121212;
  color: #fafafa;
  text-align: center;
}

a.button.primary {
  background: #36bae6;
  color: #e0e5eb;
}

/* Header */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
  background-size: cover;
  background: #fafafa;

  color: #888;
  /* Set the text color to gray */
  font-size: 18px;

}

.active-link {
  color: #0960a0;
  /* Các quy tắc CSS khác nếu cần */
}

.header .container {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
  border-bottom: 1px solid #e0e5eb;
  background: #fafafa;

}

.header .container>.logo {
  height: 1rem;
  padding: 1.25rem 0;
}

input.hamburger-button {
  display: none;
}

input.hamburger-button~label {
  position: relative;
  padding: 0.25rem;
  width: 1.5rem;
  height: 2.5rem;
}

input.hamburger-button~label>div,
input.hamburger-button~label>div::before,
input.hamburger-button~label>div::after {
  content: "";
  position: absolute;
  top: 0.825rem;
  height: 0.125rem;
  width: 1.5rem;
  opacity: 1;
  background: #121212;
  -webkit-transition: 0.14s ease-in-out;
  transition: 0.14s ease-in-out;
}

input.hamburger-button~label>div::before {
  top: -0.5rem;
}

input.hamburger-button~label>div::after {
  top: 0.5rem;
}

.header .container .hamburger-button:checked~label>div {
  width: 0;
  background: rgba(18, 18, 18, 0);
}

.header .container .hamburger-button:checked~label>div::before {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: -0rem;
}

.header .container .hamburger-button:checked~label>div::after {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  top: -0rem;
}

.header .container .hamburger-button:checked~.menu {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header .container .menu {
  text-decoration: none;
  position: absolute;
  z-index: -1;
  top: 3.5rem;
  -webkit-transform: translateX(calc(-100vw - 3rem));
  transform: translateX(calc(-100vw - 3rem));
  display: -ms-grid;
  display: grid;
  width: 100%;
  background: #fafafa;
  -webkit-transition: 0.22s ease-in-out;
  transition: 0.22s ease-in-out;
}

.header .container .menu::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: #fafafa;
}

.header .container .menu nav {
  grid-area: auto;
  width: 100%;
 
}

.header .container .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
 
}

.header .container .menu nav ul>li>a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: left;
  color: #121212;
  -webkit-transition: 0.14s ease-in-out;
  transition: 0.14s ease-in-out;
  text-decoration: none;
}


.header .container .menu nav ul>li>a:hover {
  color: #0960a0;

}

.header .container .menu div.buttons {
  grid-area: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  border-top: 1px solid #e0e5eb;
  background: #fafafa;
}

.header .container .menu div.buttons>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin: 0.5rem;
}

/* Media queries */
@media only screen and (min-width: 1100px) {
  .header {
    height: 6.5rem;
    border-bottom: 1px solid #e0e5eb;
  }
  .header .container .menu {
    width: calc(100% + 3rem); /* Đặt lại chiều rộng của menu */
    left: -3rem; /* Dịch chuyển menu về bên trái để lấp đầy khoảng trống */
  }
  .header .container {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: none;
    
  }

  input.hamburger-button~label {
    display: none;
  }

  .header .container .menu {
    z-index: unset;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto max-content;
    grid-template-columns: auto -webkit-max-content;
    grid-template-columns: auto max-content;
    -ms-grid-rows: 3.5rem 3rem;
    grid-template-rows: 3.5rem 3rem;
    background: none;
    -webkit-transition: none;
    transition: none;
  }

  .header .container .menu::after {
    display: none;
  }

  .header .container .menu div.buttons {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
  }

  .header .container .menu nav {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
  }

  .header .container .menu nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header .container .menu nav ul>li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: bold;
  }

  .header .container .menu nav ul>li>a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  



}

@media only screen and (min-width: 1260px) {
  .header {
    height: 4rem;
  }
  .header .container .menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-grid-columns: 4rem auto max-content;
    grid-template-columns: 4rem auto -webkit-max-content;
    grid-template-columns: 4rem auto max-content;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    height: 4rem;
    padding: 0 1.5rem;
    -webkit-transition: none;
    transition: none;
  }

  .header .container .menu nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }

  .header .container .menu div.buttons {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
  }

  .header .container .menu div.buttons>* {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }

  .header .container .menu nav ul {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  .header .container .menu nav ul>li {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .header .container .menu nav ul>li>a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 1.25rem 1.5rem;
  }
}
@media only screen and (max-width: 1259.5px) {
  .centerName {
    color: black;
    text-align: center;
  
    width: 220px;
  
    position: fixed;
    left: 70vh; 
    height: 100px;
    top: -1px;
    max-height: 100%; 
    display: flex;
    align-items: center;
    padding: 0 15px;
      margin: 30px 10px 0 0;
  }
  
  .services-link{
    height: 48px;
  }
  
}


.drop-down {
  display: none;
  position: absolute;
  background-color: lightgray;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 8;
  left: -20%;
}
.services{
  position: relative;
 
}
/* Show on hover */
.services:hover .drop-down {
  display: block;
}
.services .dropdowns{
  float: left;
  overflow: hidden;
  height: 60px;
}
/* Position the dropdown */

.drop-down ul {
  position: relative;
}

/* Style the dropdown links */
.drop-down li {
  list-style: none;
  width: 100%;
}

.drop-down li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

/* Change color on hover */


/* .active {
  color: red;
} */

.header .container .menu nav ul>li>a.active {
  color: #0960a0 !important;
}

/* header.css */

.header-banner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -1%;
}

.banner1-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-banner,
.banner1-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -1%;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /* Màu chữ cho tiêu đề và mô tả */
}



/* Các kiểu khác cho slider (tuỳ thuộc vào thiết kế của bạn) */


.notification-time {
  color: #888;
  font-size: 14px;
}

.notification-title {
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
  background-color: transparent;
  color: #0960a0;
}

.notifi-box {
  background-color: #f0f0f0;
  width: 400px;
  display: none;
  position: absolute;
  top: 63px;
  right: 35px;
  transition: 1s opacity, 250ms height;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 10px;
  margin: 0;
  padding: 0;
  max-height: 300px;
  border-radius: 8px;
  z-index: 8;
}


.purple-noti {
  height: 30px;
  width: 100%;
  background-color: #0960a0;
  margin-bottom: -20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.notifi-box h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999;
}

.notifi-box h2 span {
  color: #f00;
}

.notifi-item {
  display: flex;
  padding: 15px 5px;
  margin-bottom: 15px;
  cursor: pointer;
  flex-direction: column;
}

.text {
  /* display: flex; */
  justify-content: space-between;
}

.notifi-item:hover {
  background-color: #eee;
}

.notifi-item img {
  display: block;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.notifi-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 10px;
}

.notifi-item .text p {
  color: #aaa;
  font-size: 12px;
}

.content-noti {
  border: 1px solid lightgray;
  margin: 0 10px;
  overflow-y: auto;
  max-height: 200px;
}

/* Thêm vào file CSS của bạn hoặc sửa đổi file header.css */
/* Đảm bảo bạn đã tạo class "custom-arrow" cho mũi tên */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  background: transparent;
  border: none;
  font-size: 40px;
  color: #fff; /* Màu trắng */
  z-index: 2; 
  transition: all 0.3s ease;

}

.custom-arrow:focus {
  outline:none; /* Loại bỏ đường viền khi nút được focus */
}

.custom-arrow-left {
  left: 30px;
}

.custom-arrow-right {
  right: 30px;
}
@media only screen and (max-width: 1100px) {
.centerName{
  left: 40%;
    top: -30px;
}
.noti-header{
  display: none
}

.drop-down {
  display: none;
  position: absolute;
  background-color: lightgray;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 8;
  left: 0%;
}

}

@media only screen and (max-width: 320px) {
  .centerName{
    left: 10%;
      top: -30px;
  }
  }

  @media only screen and (max-width: 480px) {
    .centerName{
      left: 26%;
        top: -30px;
    }
    }


    