.course {
  width: 100%;
}


.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-gap: 30px;
}
.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}

select option:hover {
  background-color: #ffff; /* Màu nền khi hover */
}
.custom-select select:focus {
  outline: none;
}


.custom-select:hover::before {
  color: #000;
}

.course-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* 3 items per row */
  gap: 20px;
  overflow-x: hidden;
  /* Adjust the gap between items as needed */
}

.course-item {
  padding: 10px;
  margin: 0 5px 20px 5px;  /* Đảm bảo không có margin dưới cùng */
  margin-right: 1px;
  box-sizing: border-box; 
  /* Optional: Add padding for each item */
}
.fix {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.items {
  height: 558.3px;
}

/* Course item */
section.course h2 {
  margin-top: -100px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 50px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(4, 4, 4);
  letter-spacing: 1px;
}

section.course {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  padding-top: 140px;
  padding-bottom: 130px;
}

.course .item .down-content {
  background-color: #fff;
  position: relative;
}

.course .item .down-content h4 {
  padding: 25px;
  font-size: 18px;
  color: #1f272b;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.course .item .down-content .info {
  padding: 15px;
  margin: 0;
}

.course .item .down-content .info ul li {
  display: inline-block;
  margin-right: 1px;
}

.course .item .down-content .info ul li i {
  color: #f5a425;
  font-size: 14px;
}

.course .item .down-content .info span {
  color: #a12c2f;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  width: 100%;
}

.course .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-45px);
}

.course .owl-nav .owl-prev {
  margin-right: 10px;
  outline: none;
  position: absolute;
  left: -80px;
  opacity: 1;
  transition: all .5s;
}

.course .owl-nav .owl-prev span,
.course .owl-nav .owl-next span {
  opacity: 0;
}

.course .owl-nav .owl-prev:before,
.course .owl-nav .owl-next:before {
  display: inline-block;
  color: #1e1e1e;
  font-size: 25px;
  font-weight: 700;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
}

.course .owl-nav .owl-prev:hover,
.course .owl-nav .owl-next:hover {
  opacity: 0.9;
}

.course .owl-nav .owl-prev {
  opacity: 1;
  transition: all .5s;
}

.course .owl-nav .owl-next {
  opacity: 1;
  transition: all .5s;
}

.course .owl-nav .owl-next {
  margin-left: 10px;
  outline: none;
  position: absolute;
  right: -85px;
}

/* Trong file CSS của bạn */
.custom-link {
  color: #1f272b;
  /* Màu chữ */
  text-decoration: none;
  /* Loại bỏ gạch chân mặc định */
  font-weight: bold;
  /* Độ đậm chữ */
  font-size: 21px;
  /* Kích thước chữ */
  /* Và các kiểu dáng khác mà bạn muốn thêm */
  text-align: center;
}

.custom-link:hover {
  text-decoration: blink;
  /* Gạch chân khi hover */
}


/* Khi hover lên item, làm ảnh nổi lên */
/* Course item */
.course .item {
  margin: 0 5px;
  /* Thêm margin ở cả hai bên của mỗi item là 5px */
  margin-right: -2px;
  position: relative;
  /* Để định vị cho đổ bóng */
  overflow: hidden;
  /* Ảnh sẽ bị ẩn nếu vượt ra khỏi phần item */
}

/* Ảnh trong item */
.course .item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease;
  /* Hiệu ứng chuyển động cho ảnh */
  position: relative;
  margin-top: -10px;
}

/* Thêm đổ bóng cho item */
.course .item::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 20px);
  /* Chiều rộng của item - 2 lần padding */
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* Màu đổ bóng và độ trong suốt */
  border-radius: 5px;
  /* Độ cong của đổ bóng */
  left: 10px;
  /* Đưa đổ bóng về giữa item */
  top: 0;
  transition: all 0.3s ease;
  /* Thêm hiệu ứng chuyển động */
}

/* Hiển thị đổ bóng khi hover */
/* Thêm hiệu ứng khi hover để làm to ảnh */
.course .item img {
  transition: transform 0.3s ease;
  /* Thêm hiệu ứng chuyển động */
}

.course .item:hover img {
  transform: scale(1.02);
  /* Điều chỉnh giá trị để thay đổi độ to của ảnh */
}

/* Hiệu ứng chuyển động cho h4 */
.course .item .down-content h4 {
  position: relative;
  /* Tạo một định vị tương đối cho phần tử con */
  padding: 25px;
  font-size: 18px;
  color: #1f272b;
  text-align: center;
  overflow: hidden;
  /* Ẩn phần giả chân gạch bên dưới */
}

/* Phần giả chân gạch */
.course .item .down-content h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  /* Chiều cao của giả chân gạch */
  background-color: #1f272b;
  /* Màu của giả chân gạch */
  transform: scaleX(0);
  /* Đặt độ co lại ban đầu */
  transform-origin: 0 50%;
  /* Đặt điểm trục transform */
  transition: transform 0.3s ease;
  /* Hiệu ứng chuyển động */
}

/* Hiển thị giả chân gạch từ từ khi hover vào h4 hoặc img */
.course .item:hover .down-content h4::before,
.course .item:hover img::before {
  transform: scaleX(1);
  /* Mở rộng giả chân gạch khi hover */
}

.view-details-button {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #052f44; /* Màu khung viền */
  border-radius: 5px; /* Độ cong góc */
  color: #2467C0; /* Màu chữ */
  transition: all 0.3s ease; /* Hiệu ứng chuyển động */
  font-weight: bold;
  /* Căn giữa theo chiều ngang và dọc */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hiệu ứng khi hover */
.view-details-button:hover {
  background-color: #2467C0; /* Màu nền khi hover */
  color: #fff; /* Màu chữ khi hover */
}

.link-style:hover {
  color: #fff; /* Màu chữ khi hover */ /* Hiển thị gạch chân khi di chuột qua link */
}
.categorySelect option:hover {
  background-color: #007bff; /* Màu nền khi hover */
  color: #fff; /* Màu chữ khi hover */
}