.select-student{
  display: flex;
  width: 100%;
  align-items: center;
  margin: 13px auto;
}
.attended{
  background: #34BFA3;
  color: #fff;
  margin-left: 8px;
  border-radius: 5px;
  padding: 14px;
}
.attendance {
  transform: scale(0.8); /* Điều chỉnh kích thước của nút radio */
  margin-right: 10px; /* Tạo khoảng cách giữa các nút radio */
}
table thead tr th {
  background-color: #2746C0;
}
.img-attend{
  
  margin-left: 34%;
  
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.course-card-attend{
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom: 70px;
  background-color: #EEEEEE;
  
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.course-card-attend::before {
  content: '';
  position: absolute;
  top: -16px; /* Adjust the top position to move the smaller protruding triangle above */
  left: 3%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px; /* Adjust the border-width values for an even smaller triangle */
  border-color: transparent transparent #EEEEEE transparent;
  transform: translateX(-50%);
}