.scroll-sidebar{
    background-color: black;
}


.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-attend{
  max-width: 100%;
  height: auto; 
  display: block;
  background-color: transparent;
  border: none;
  margin: 0 auto;
  border-radius: 50%;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;

}

.notification {
  position: relative;
}
.notification span {
    background-color: red;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

.user {
  display: flex;
  align-items: center;
  gap: 10px;

}
.user img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
  }