.container {
  max-width: 1300px;
  margin: 0 auto;
}
.page-main {
  padding: 20px;
}
.post-title {
  color: #333;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 1rem !important;
}
.post-content {
  line-height: 1.6;
  margin-bottom: 20px;
}
.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}
.post-related {
  margin-top: 30px;
}
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.card img {
  max-width: 100%;
  height: auto;
}
.lt {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px; /* Increase border-radius for a rounded corner effect */
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.lt:hover {
  transform: scale(1.05);
}

.lt-title {
  font-size: 24px;
  margin: 10px 0;
  color: #fff;
  text-decoration: underline;
}
.lt img {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto;
}
.sidebar {
  padding: 20px;
  background-color: #f8f9fa;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
}

.list-bullets {
  padding-left: 20px;
}

.list-bullets-chevron {
  list-style: none;
  padding-left: 20px;
}

.list-bullets-chevron li:before {
  content: "\2022";
  margin-right: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-3 {
  margin-top: 3px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}
.text-decoration-underline {
  text-decoration: underline;
}
.section-links h6 {
  margin-top: 30px;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.section-links a {
  text-decoration: none;
  color: #333;
}
.section-links a:hover {
  text-decoration: underline;
}
.justify-content-between {
  justify-content: space-between;
}
.bg-light {
  background-color: #f1f1f1;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.d-grid {
  display: grid;
  gap: 20px;
}
.section-title {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #17a2b8;
}

.section-title span {
  position: relative;
  background: #ffffff;
  z-index: 1;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}
.section-title2 {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2746C0;
  margin-bottom: 10px;
}

.section-title2 span {
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  display: initial; 
}

.section-title2::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2746C0;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}
.pr-5, .px-5 {
  padding-right: 3rem !important;
}
.mr-3, .mx-3 {
  margin-right: 1rem !important;
}
.text-primary {
  color: #2746C0 !important;
}
.fa, .fas {
  font-weight: 900;
  padding-right: 8px;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}