.latest-news-bg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single-latest-news:hover .latest-news-bg {
  opacity: 0.8;
}
.single-latest-news a {
  color: #051922;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  font-size: 25px;
  line-height: 1.25em;
  font-weight: 600;
  margin: 0 0 1.25rem 0;
  letter-spacing: 0.1px;
  margin-bottom: 8px;
}
.single-latest-news {
  -webkit-box-shadow: 0 0 20px #dddddd;
  box-shadow: 0 0 20px #dddddd;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single-latest-news:hover {
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.single-latest-news h3 {
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 600;
}

.single-latest-news h3 a {
  color: #051922;
}

.single-latest-news {
  margin-bottom: 30px;
}

.latest-news a.boxed-btn {
  margin-top: 50px;
}

.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #0960a0;
  margin: 0 auto;
}

.section-title p {
  font-size: 15px;
  width: 530px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
}

.orange-text {
  color: #0960a0;
  margin-right: 5px;
  /* Điều chỉnh khoảng cách giữa "Our" và "News" bằng cách thay đổi giá trị này */
  padding-right: 5px;
  line-height: 2.25rem;

}

.section-title h3 {
  font-size: 40px;
  position: relative;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #051922;
}

.section-title {
  margin-bottom: 80px;
}
.blog-meta span {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 1.25rem 0;
  
}
p.excerpt {
  line-height: 1.8;
  color: #555;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 1.25rem 0;
}
.news-text-box h3 {
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #051922;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
}

a:hover {
  color:#0960a0;
  text-decoration: none;
}

.single-latest-news a {
  color: #051922;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  font-size: 25px;
  line-height: 1.25em;
  font-weight: 600;
  margin: 0 0 1.25rem 0;
  letter-spacing: 0.1px;
  margin-bottom: 8px;
}
.col-lg-8-offset-lg-2-text-center {
  text-align: center !important;
}

p.blog-meta span {
  margin-right: 15px;
  opacity: 0.7;
  color: #051922;
  font-size: 0.9em;
}

p.blog-meta span:last-child {
  margin-right: 0;
}

p.blog-meta span i {
  margin-right: 5px;
}

.blog-meta .author,
.blog-meta .date {
  display: inline-block;
  margin-right: 16px;
  /* Có thể điều chỉnh khoảng cách giữa author và date theo mong muốn của bạn */
}
.news-text-box {
 
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* Các kiểu CSS cho phần "read more" */
.read-more-link {
  text-decoration: none;
  color: #051922;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 600;
  margin: 0 0 1.25rem 0;
  letter-spacing: 0.1px;
}
/* Trong file HBlog_css.css */
.single-latest-news:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  
}
/* Trong file HBlog_css.css */
.single-latest-news {
  box-shadow: 0 0 20px #dddddd;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.single-latest-news:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
/* Trong file HBlog_css.css */
.single-latest-news img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng với màu đen và độ trong suốt 0.1 */
  transition: box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển động cho đổ bóng */
}

.single-latest-news img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Đổi màu và độ trong suốt khi di chuột qua */
}
/* Trong file HBlog_css.css */
.section.blog {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Trong file HBlog_css.css */
.section-title h3 {
  transition: transform 0.5s ease;
}

.section-title:hover h3 {
  transform: scale(1.1);
}

.read-more-link:hover {
  color: blue
}
a.boxed-btn {
  display: inline-block;
  background-color: #0960a0;
  color: #fff;
  padding: 16px 15px; /* Điều chỉnh giá trị padding tại đây */
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s;
}

a.boxed-btn, a.bordered-btn, a.cart-btn {
  border-radius: 50px;
}
a.boxed-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a.boxed-btn:hover {
  color: #FFFF00;
}
.single-latest-news img {
  width: 100%; /* Kích thước ảnh chiếm toàn bộ chiều rộng của thẻ div */
  height: auto; /* Đảm bảo tỉ lệ khung hình không bị méo */
}
.news-text-box a {
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  color: initial; /* Màu chữ mặc định */
  transition: color 0.1s; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */

}

.news-text-box a:hover {
  color: #0960a0; /* Màu sắc mới khi chuột di chuyển qua liên kết */
}
