
.fc-timegrid-slot-label-cushion {
    height: 200px;
}
.fc-timegrid-event-harness{
    cursor: pointer;
}

.fc-event-title.fc-sticky {
    white-space: pre-line; /* or white-space: pre-wrap; */
    font-size: 15px;
  }
  .fc-event-title {
    text-align: left;
  }
  .fc-timeGridWeek-button,.fc-timeGridDay-button,.fc-prev-button,.fc-next-button {
    background-color: #2746C0 !important; 
    color: white !important; 
    text-transform: capitalize  !important;
  }
  
  
  .fc-timeGridWeek-button[aria-pressed="false"] ,.fc-timeGridDay-button[aria-pressed="false"]{
    background-color: white !important; 
    color: #2746C0 !important; 
  }
  .fc-daygrid-event-harness {
    display: flex;
    flex-direction: column;
  }
  .fc-today-button {
    background-color: #2746C0;
  }
  /* Tắt co giãn tự động cho các phần tử con để chúng xuống dòng mới */
  .fc-daygrid-event-harness > * {
    flex-shrink: 0;
  }
  .schedule-container {
    overflow: auto; /* Cho phép cuộn khi nội dung bị tràn */
  }
  
  /* Container chứa FullCalendar */
  .calendar-container {
    height: 75vh; /* Điều chỉnh chiều cao theo nhu cầu của bạn */
    overflow: auto; /* Cho phép cuộn khi nội dung bị tràn */
  }
  
  /* Container chứa NavigationPage */
  .navigation-container {
    max-height: 30px; /* Điều chỉnh chiều cao theo nhu cầu của bạn */
    overflow: auto; /* Cho phép cuộn khi nội dung bị tràn */
  }
  .fc-col-header-cell-cushion {
    color: white;
  }
  @media only screen and (max-width: 600px) {
    .fc {
      height: 60vh; /* Điều chỉnh chiều cao cho màn hình nhỏ */
    }
  }
  
  /* Kiểm soát chiều cao của NavigationPage */
  @media only screen and (max-width: 600px) {
    .navigation-page {
      max-height: 30px; /* Điều chỉnh chiều cao cho màn hình nhỏ */
    }
  }
  