table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.icon-class{
  display: inline-block;
  position: relative;
  text-decoration: none;
}
table, th, td {
  border: 1px solid #ccc;
}
#lblSubjectCode{
  float: left;
}
/* Center text in table cells and add some padding */
table th, table td {
  text-align: center;
  padding: 10px;
}

/* Style the table header row differently */



/* Style the links in the first column */
table td a {
  text-decoration: none;
  color: #007bff;
}

/* Add some margin between the columns */
table td > div {
  margin: 5px 0;
}

/* Style the progress bar */
.progress {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  font-weight: bold;
  color: #fff;
}

/* Style the search input */
#generalSearch {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Apply some margin to the whole content */
.m-content {
  margin: 20px;
}

.radio-buttons {
  display: flex;
  align-items: center;
  text-align: center;
}

.radio-buttons input[type=radio] {
  display: none;
}

.radio-buttons label {
  margin: 10px;
  cursor: pointer;
  padding-left: 20px ;
}

.radio-buttons label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 50%;
}

.radio-buttons input[type=radio]:checked + label::before {
  border-color: blue;
  background-color: blue;
}

.iconcourse{
  margin-right: 25px;
  font-size: 20px;
  text-decoration: none;
  color: black; /* Đặt màu chữ của thẻ a thành màu đen (hoặc bất kỳ màu nào bạn muốn) */
  text-decoration: none; /* Xóa gạch chân mặc định cho liên kết */
}
.iconcourse-active{
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  color: blue; /* Đặt màu chữ của thẻ a thành màu đen (hoặc bất kỳ màu nào bạn muốn) */
  text-decoration: none; /* Xóa gạch chân mặc định cho liên kết */
}
.iconcourse:hover{
  color: blue;
  cursor: pointer;
}
table{
  width: 102%;
}
.course-card-title{
  margin-top: 20px;
  padding-top: 6px;
  background-color: #EEEEEE;
  padding-right: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.course-card-title::before {
  content: '';
  position: absolute;
  top: -16px; /* Adjust the top position to move the smaller protruding triangle above */
  left: 3%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px; /* Adjust the border-width values for an even smaller triangle */
  border-color: transparent transparent #EEEEEE transparent;
  transform: translateX(-50%);
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 32px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}



#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-text {
  position: absolute;
  top: -50px;
  left: 40%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px; /* Increase padding for better visibility */
  border: 1px solid #ccc;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  width: 150px; /* Set the width as per your design */
  text-align: center; /* Center align text */
  transition: visibility 0s, opacity 0.3s ease;
}

.icon-class:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
.icon-breadcrumb-item{
  display: flex;
  text-align: center;
}

.react-datepicker-wrapper {
  width: 100%;
}
li strong {
  position: relative;
  display: inline-block;
  padding: 0 23px;
}

li .class-progress::before {
  content: "Lớp học";
  display: block;
  position: absolute;
  top: -85px; /* Điều chỉnh khoảng cách từ chữ đến icon */
  left: 0;
  white-space: nowrap; /* Ngăn chữ xuống dòng */
  min-width: 60px; /* Độ rộng tối thiểu của pseudo-element */
  text-align: center; /* Căn giữa theo chiều ngang */
 
}
li .user-progress::before {
  content: "Học viên";
  display: block;
  position: absolute;
  top: -85px; /* Điều chỉnh khoảng cách từ chữ đến icon */
  left: 0;
  white-space: nowrap; /* Ngăn chữ xuống dòng */
  min-width: 60px; /* Độ rộng tối thiểu của pseudo-element */
  text-align: center; /* Căn giữa theo chiều ngang */
 
}
li .calender-progress::before {
  content: "Lịch học";
  display: block;
  position: absolute;
  top: -85px; /* Điều chỉnh khoảng cách từ chữ đến icon */
  left: 0;
  white-space: nowrap; /* Ngăn chữ xuống dòng */
  min-width: 60px; /* Độ rộng tối thiểu của pseudo-element */
  text-align: center; /* Căn giữa theo chiều ngang */
 
}
#progressbar{
  padding-top: 28px;
}